.user-profile {
    border-radius: 27px;
    // width: 173px;
    height: 54px;       
    background: #f2f5fa;

    display: flex;
    transition: background-color 0.2s ease-in;
    &:hover {
        background-color: #d6e3f7;
    }
    
}

.user-profile__avatar {
    margin-top: -16px;
    margin-left: 4px;
    margin-right: 6px;
}

.user-profile__nav-button {
    position: relative;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
    padding-right: 41px;

    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 17px;
    letter-spacing: 0.02em;
    color: #0b1432;

    &::after {
        position: absolute;
        right: 21px;
        top: 50%;
        transform: translateY(-50%);
        display: block;
        content: "";
        background-image: url(./../img/top-icons/arrow-svg.svg);
        width: 12px;
        height: 6px;

    }
}